<a href="https://colab.research.google.com/github/KYUSEONGHAN/Development/blob/master/ch1_CSV_%ED%8C%8C%EC%9D%BC%EA%B3%BC_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
import pandas as pd
import io

In [ ]:
uploaded = files.upload()

Saving 대한민국_주요_도시_인구수.csv to 대한민국_주요_도시_인구수 (1).csv

In [ ]:
df = pd.read_csv(io.StringIO(uploaded['대한민국_주요_도시_인구수.csv'].decode('utf-8')))

In [ ]:
df

   도시      인구수
0  서울  9741381
1  부산  3416918
2  인천  2925967
3  대구  2453041
4  대전  1525849
5  광주  1496172
6  수원  1193894
7  울산  1147037
8  고양  1068641
9  용인  1061440

In [ ]:
# shape 함수를 사용해 dataframe의 로우와 컬럼의 개수를 알 수 있다.
df.shape

(10, 2)

In [ ]:
df.head(3)

   도시      인구수
0  서울  9741381
1  부산  3416918
2  인천  2925967

In [ ]:
df.tail(3)

   도시      인구수
7  울산  1147037
8  고양  1068641
9  용인  1061440

In [ ]:
# info 함수를 이용해 dataframe의 정보를 알 수 있다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도시      10 non-null     object
 1   인구수     10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

In [ ]:
df['도시']

0    서울
1    부산
2    인천
3    대구
4    대전
5    광주
6    수원
7    울산
8    고양
9    용인
Name: 도시, dtype: object

In [ ]:
df['인구수']

0    9741381
1    3416918
2    2925967
3    2453041
4    1525849
5    1496172
6    1193894
7    1147037
8    1068641
9    1061440
Name: 인구수, dtype: int64